<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/etudiant/profile"></i>&nbsp;UniFlash</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href="/etudiant/edtJournee">EDT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-item nav-link" href="/etudiant/profile">
                        <i class="glyphicon glyphicon-user"></i>&nbsp;Profil</a>
                </li>
                <li><a href="/logout" >Déconnexion&nbsp;<i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>