<!doctype html>
<html>
<head>
	<title>Administration</title>
	<link rel="icon" type="image/png" href="/files/favicon.PNG" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<% include layout %>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/admin">Accueil</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/admin/users">Utilisateurs</a>
				<a class="nav-item nav-link" href="/admin/matieres">Matières</a>
				<a class="nav-item nav-link" href="/admin/seances">Séances</a>
				<a class="nav-item nav-link" href="/admin/promotions">Promotions</a>
				<a class="nav-item nav-link" href="/admin/fichepresence">PDF</a>
				<a class="nav-item nav-link active" href="/logout">Déconnexion</a>
			</div>
		</div>
	</nav>
</div>
</body>
</html>
