<!doctype html>
<html>
	<head>
		<title>Administration</title>
		<% include layout %>
	</head>
	<body>
		<div class="container">
			<% include Menu %>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div align="center">
				<div class="well">
					<h3><span class="fa fa-user"></span> </h3>
					<p>
						<strong>Nom</strong><br>
						<br>
						<strong>Prénom</strong>
						<strong>Promo</strong>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
