<!doctype html>
<html>
<head>
    <title>Détail Utilisateur</title>
    <% include layout %>
</head>

<body>
    <h1>JE SUIS DANS LA VUE DETAIL USER !!!! YOUPI </h1>
    <h1><%=(user[0].nomU.toUpperCase())%> <%=(user[0].prenomU)%>  <%=(user[0].promotionU)%></h1>
</body>
</html>





