<!doctype html>
<html>
<head>
    <title>Détail Promotion</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .bs-example{
            margin: 20px;
        }
        body {
            padding-top:80px;
            background-color: #76d04b;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function deleteItems(idItem) {
            $.ajax({
                url: "http://localhost:8080/<%= chemin %>"+idItem,
                type: 'delete',
            });
        }
    </script>
</head>
<body>

<div class="container" >
    <%= promo.idP %> - <%= promo.nomP %>
</div>
</body>
</html>
