<!doctype html>
<html>
<head>
    <title>Détail Utilisateur</title>
    <% include layout %>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span>Formulaire de modification</h1>

            <form action="/users/:id?" method="put">
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" class="form-control" name="nom" value="<%=(user[0].nomU.toUpperCase())%>">
                </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" class="form-control" name="prenom" value="<%=(user[0].prenomU)%>">
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    <input type="text" class="form-control" name="mail" value="<%=(user[0].mailU)%>">
                </div>
                <div class="form-group">
                    <label>Promotion</label>
                    <select>
                        <% for(var i=0; i<=3; i++) {%>
                        <option><%=i%></option>
                        <% } %>
                    </select>
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-lg">Annuler</button>
                    <button type="submit" class="btn btn-primary btn-lg">Appliquer</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>





