<!doctype html>
<html>
<head>
    <title>Détail Promotion</title>
    <% include layout %>
</head>
<body>

<div class="container" >
    <%= promo.idP %> - <%= promo.nomP %>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Modifier une promotion</h1>

        <form action="/promotions/:id?" method="put">
            <div class="form-group">
                <label>Nom de la promotion</label>
                <input type="text" class="form-control" name="promotion" value="<%= promo.nomP %>">
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-secondary btn-lg">Annuler</button>
                <button type="submit" class="btn btn-primary btn-lg">Appliquer</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
