<html>
<head>
    <title>Error</title>
    <% include ../layout %>
</head>
<body>
<h1> ERREUR TRAITEMENT</h1>
<h2> Une erreur est survenu en cours d'opération sur la ressource <%= ressource %>.</h2>
<h2> Veuillez contacter l'équipe Support</h2>
</body>
</html>