<html>
    <head>
        <title>Error</title>
        <% include layout %>
    </head>
    <body>
        <% include menu %>
        <div class="container">
            <h1> ERREUR TRAITEMENT</h1>
            <h2> Une erreur est survenue en cours d'opération sur la ressource <%= ressource %>.</h2>
            <h2> Veuillez contacter l'équipe Support</h2>
        </div>
    </body>
</html>