<html>
<head>
    <title>Error</title>
    <% include layout %>
</head>
    <body>
        <% include menu %>
        <div class="container">
            <h1> ERROR RESSOURCE</h1>
            <h2> La ressource <%= ressource %> est inexistante</h2>
        </div>
    </body>
</html>