<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/admin"></i>&nbsp;UniFlash</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href="/admin/users">Utilisateurs</a></li>
                <li><a class="nav-item nav-link" href="/admin/matieres">Matières</a></li>
                <li><a class="nav-item nav-link" href="/admin/seances">Séances</a></li>
                <li><a class="nav-item nav-link" href="/admin/promotions">Promotions</a></li>
                <li><a class="nav-item nav-link" href="/admin/fichepresence">PDF</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" >Déconnexion&nbsp;<i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>