<!doctype html>
<html>
<head>
    <title>Signaler présence</title>
    <% include layout %>
</head>
    <body>
         <div class="col-md-6"><% include qrCode %></div>
         <div class="col-md-6"><% include listeEtudiants %></div>
    </body>
</html>
