<!doctype html>
<html>
<head>
    <title>Signaler présence</title>
    <% include layout %>
</head>
<body>

<div class="container" >
    Signaler sa présence
    <%= seance.idS %><br>
    <%= seance.heureDebut %><br>
    <%= seance.heureFin %><br>
    <%= seance.matiereS %><br>
</div>
</body>
</html>
