<!doctype html>
<html>
    <head>
        <title>Creation Utilisateur</title>
        <% include ../layout %>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h1><span class="fa fa-sign-in"></span> Signup</h1>

                <form action="<%= chemin %>" method="post">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" name="nom">
                    </div>
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" name="prenom">
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" class="form-control" name="mail">
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select name="role">
                            <option value="ETUDIANT">ETUDIANT</option>
                            <option value="ENSEIGNANT">ENSEIGNANT</option>
                            <option value="ADMINISTRATION">ADMINISTRATION</option>
                        </select>
                    </div>
                        <div class="form-group">
                            <label>Promotion</label>
                            <select name="promotion">
                                <% for(var i=0; i<promos.length; i++) { %>
                                <option value="<%=promos[i].idP%>" ><%=promos[i].nomP%></option>
                                <% } %>
                            </select>
                        </div>
                    <input type="hidden" name="password" value="1234">

                    <a href="<%= chemin %>" class="btn btn-secondary btn-lg">Annuler</a>
                    <button type="submit" class="btn btn-warning btn-lg">Créer</button>
                </form>
            </div>
        </div>
    </body>
</html>
