<!doctype html>
<html>
    <head>
        <title>Création Utilisateur</title>
        <% include ../layout %>
    </head>
    <body>
    <% include ../menu %>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h1>Utilisateur</h1>

                <form action="<%= chemin %>" method="post">
                    <div class="form-group">
                        <label>Nom :</label>
                        <input type="text" class="form-control" name="nom">
                    </div>
                    <div class="form-group">
                        <label>Prénom :</label>
                        <input type="text" class="form-control" name="prenom">
                    </div>
                    <div class="form-group">
                        <label>Mail :</label>
                        <input type="text" class="form-control" name="mail">
                    </div>
                    <div class="form-group">
                        <label>Rôle :</label>
                        <select id="role" name="role" onchange="CachePromo()">
                            <option value="ETUDIANT">ETUDIANT</option>
                            <option value="ENSEIGNANT">ENSEIGNANT</option>
                            <option value="ADMINISTRATION">ADMINISTRATION</option>
                        </select>
                    </div>
                    <div id="promovisible" class="form-group">
                        <label>Promotion :</label>
                        <select name="promotion">
                            <% for(var i=0; i<promos.length; i++) { %>
                            <option value="<%=promos[i].idP%>" ><%=promos[i].nomP%></option>
                            <% } %>
                        </select>
                    </div>
                    <input type="hidden" name="password" value="1234">

                    <div class="pull-right">
                        <a href="/<%= chemin %>" class="btn btn-secondary btn-lg">Annuler</a>
                        <button type="submit" class="btn btn-success btn-lg">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
